{% extends 'catalog/base.html' %}

{% block content %}

<!-- checks if a user is logged in -->
{% if user.username %}
    <p>Welcome {{ user.username }}!!!</p>
    <a href="{% url 'logout_user' %}">Logout</a>

<!-- if not logged in -->
{% else %}

    <a href="{% url 'signup' %}">Sign Up</a>
    <a href="{% url 'login_user' %}">Login</a>

{% endif %}

<p></p>

<h1>Books</h1>

<a href="{% url 'create_author' %}">Create Author</a>

<a href="{% url 'new_book' %}">Create Book</a>

{% for book in books %}

    <a href="{% url 'show_book' slug=book.slug %}">
    <div>
        <h2>{{ book.title }}</h2> 
        <h3>{{ book.author.name }}</h3>
        <p>Synopsis goes here</p>
    </div>
    </a>

{% endfor %}

{% endblock %}

<!-- database -->

<!-- persistance - that info doesn't disappear -->
<!-- CRUD - create read update delete -->
<!-- SQL -->
