{% extends 'pages/base.html' %}

{% block content %}

<h1>Welcome to the Art Institution</h1>

<p>The art institution was founded in the year 1999 in order to prepare for the end of the world aka Y2K. When that didn't happen we just kept collecting art and enhancing the cultural fabric of the world.</p>

<p>Yay art</p>

{% for video_id in video_ids %}

<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video_id }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

{% endfor %}

{% endblock %}